version: '3.8'

services:
  centrifugo:
    image: centrifugo/centrifugo-pro:v6.6.4
    command:
      - centrifugo
    ports:
      - "8000:8000"
    environment:
      - CENTRIFUGO_CLIENT_INSECURE=true
      - CENTRIFUGO_HTTP_STREAM_ENABLED=true
      - CENTRIFUGO_SSE_ENABLED=true
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_PRESENCE=true
      - CENTRIFUGO_CLIENT_CONCURRENCY=8
      - CENTRIFUGO_LOG_LEVEL=trace
      - CENTRIFUGO_CLIENT_TOKEN_HMAC_SECRET_KEY=secret
