name: Test workflow
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    # Prevent duplicate builds on internal PRs.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      matrix:
        node-version: [14, 16]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install
      - name: Start Centrifugo
        run: docker run -d -p 8000:8000 centrifugo/centrifugo:latest centrifugo --api_insecure
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
