name: Test workflow
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    # Prevent duplicate builds on internal PRs.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      matrix:
        node-version: [18, 20, 22, 24, 25]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install
      - name: Start Centrifugo
        run: docker compose up -d --wait
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
